<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link href="assets/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="categorizerURL" content="{{ .CategorizerURL }}">
    <title>BRAND_NAME - Site Blocked</title>
</head>

<body>
    <!-- Script to get the category of the blocked site -->
    <script type="text/javascript">
        function loadFromMetaTag (tagName) {
            var el = document.head.querySelector('[name~=' + tagName + '][content]')
            if (!el) {
                return ''
            }
            return el.content
        }

		document.addEventListener('DOMContentLoaded', function () {
            var categorizerURL = loadFromMetaTag('categorizerURL')
            document.getElementById('page-hostname').innerHTML = window.location.hostname
            axios({
                url: categorizerURL + '/api/domains/public-search',
                params: {
                    domain: window.location.hostname
                },
                method: 'GET'
            }).then(domain => {
                // Find the categories of the current domain
                var categories = ''
                var categoryIDs
                var categoryToName = {}
                if (domain.data.spec.exactMatch.categoryIDs && domain.data.spec.exactMatch.categoryIDs.length) {
                    // We have an exact match, which overrides any superdomains anyway
                    categoryIDs = domain.data.spec.exactMatch.categoryIDs
                } else if (domain.data.spec.superDomains) {
                    // No exact match, but find the most specific supercategory
                    var sortedSuper = domain.data.spec.superDomains.sort((domain1, domain2) => domain2.domain.length - domain1.domain.length)
                    for (var i = 0; i < sortedSuper.length; i++) {
                        if (sortedSuper[i].categoryIDs) {
                            categoryIDs = sortedSuper[i].categoryIDs
                            break
                        }
                    }
                }
                if (!categoryIDs) {
                    categoryIDs = []
                }
                Promise.all(categoryIDs.map(
                    categoryID => axios({
                        url: categorizerURL + '/api/categories/' + categoryID,
                        method: 'GET'
                    }).then(category => {
                        categoryToName[categoryID] = category.data.spec.name
                    })
                )).then(() => {
                    const categoryNames = categoryIDs.map(id => categoryToName[id])
                    for (let i = 0; i < categoryNames.length; i++) {
                        if (!categoryNames[i]) {
                            continue
                        }
                        if (categories.length > 0) {
                            categories += ', '
                        }
                        categories += categoryNames[i]
                    }
                    if (categories === '') {
                        categories = 'Unclassified'
                    }
                    var open = false
                    document.getElementById('categories').innerHTML = categories
                    document.getElementById('main').style.visibility = 'visible'
                    document.getElementById('more-info-button').addEventListener('click', () => {
                        if (open) {
                            document.getElementById('more-info-area').style.visibility = 'hidden'
                        } else {
                            document.getElementById('more-info-area').style.visibility = 'visible'
                        }
                        open = !open
                    })
                })
            })
        })
    </script>
    <div id="top-bar" class="has-text-centered">
        <div id="menu-bar-logo">
            <a href="DASHBOARD_LINK">
                <!-- <img src="/assets/logo.png" width="43px" class="top-image" /> -->
            </a>
        </div>
        <div class="right">
        </div>
    </div>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section" id="main" style="visibility: hidden;">
                    <div>
                        <div>
                            <h1 class="title is-1">
                                Page Blocked
                            </h1>
                            <div class="is-flex is-justify-content-center">
                                <svg style="width:100px;height:100px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M2,5.27L3.28,4L20,20.72L18.73,22L15.65,18.92C14.5,19.3 13.28,19.5 12,19.5C7,19.5 2.73,16.39 1,12C1.69,10.24 2.79,8.69 4.19,7.46L2,5.27M12,9A3,3 0 0,1 15,12C15,12.35 14.94,12.69 14.83,13L11,9.17C11.31,9.06 11.65,9 12,9M12,4.5C17,4.5 21.27,7.61 23,12C22.18,14.08 20.79,15.88 19,17.19L17.58,15.76C18.94,14.82 20.06,13.54 20.82,12C19.17,8.64 15.76,6.5 12,6.5C10.91,6.5 9.84,6.68 8.84,7L7.3,5.47C8.74,4.85 10.33,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C12.69,17.5 13.37,17.43 14,17.29L11.72,15C10.29,14.85 9.15,13.71 9,12.28L5.6,8.87C4.61,9.72 3.78,10.78 3.18,12Z" />
                                </svg>
                            </div>
                            <p class="subtitle is-3">
                                <i><span id="page-hostname"></span></i><br />
                                is categorized as <span class="tag is-large is-danger" id="categories"></span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <b-button class="button is-light mt-3 mb-2"
                            id="more-info-button"
                            aria-controls="contentIdForA11y1">
                            More information
                        </b-button>
                        <br />
                        <div class="notification" style="visibility: hidden;" id="more-info-area">
                            <div class="content">
                                <h3>
                                    Notice
                                </h3>
                                <p>
                                    This website is blocked because it belongs to a category blocked in accordance with
                                    your BRAND_NAME protection settings.<br /><br />

                                    If you feel that this website has been classified incorrectly, please copy the link
                                    in the address bar and submit a classification review request by
                                    <a tag="a" href="REVIEW_REQUEST_URL" type="is-text">
                                        clicking this link</a>
                                    </a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
